body{
    background-color: rgb(255, 255, 255);
}
.outerbox{
    padding: 20px;
    display : flex;
    flex-wrap: wrap;
}
.posts{
    width: 30%;
    margin-left: 25px;
    text-wrap: wrap;
    border-radius: 5px;
    background-color: rgb(145, 147, 148);
    font-size: smaller;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(0, 0, 0);
}

.posts h1{
    margin: 0;
    margin-top: 10px;
    margin-left: 5px;
    text-wrap: wrap;
}
.posts:hover{
    background-color: rgb(255, 255, 255);
}
